<div class="box" style="display: flex; justify-content: center">
  <form
    class="item"
    #loginForm="ngForm"
    (ngSubmit)="loginForm.form.valid && login(loginForm)"
  >
    <div>
      <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        ngModel
        requerid
        size="20"
        ngxTippy data-tippy-content="correo@email.com"
      />
      <!-- Using "ngModel" only associates it with the div name. -->
    </div>
    <div>
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        ngModel
        required
        size="15"
        ngxTippy data-tippy-content="123456"
      />
    </div>
    <button type="submit" style="cursor: pointer">+</button>
  </form>
</div>