<div style="text-align: center">
  <button style="cursor: pointer" (click)="add()">+</button>
</div>

<div class="box" style="padding-bottom: .75rem">
  <p style="margin-bottom: -.75rem">
    Puedes ingresar una persona presionando el botón de más (+) que aparece arriba.
    También puedes modificarla o eliminarla presionando el nombre.
  </p>
  <hr>
  <app-person
    *ngFor="let personElement of people; let i = index"
    [person]="personElement"
    [indexChild]="i"
  ></app-person>
</div>

<router-outlet></router-outlet>