html {
  background: url(./assets/bg-pattern.png), linear-gradient(to left, #3a223f, #0d6b6e);
  font-size: 1.5rem;
}

h1 {
  font-family: 'Smooch', cursive;
  color: #fff;
  padding: 10px;
  font-weight: 200;
}

.box {
  max-width: 500px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, .65);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;  
  backdrop-filter: blur(2.5px);
  align-items: center;
}

#heading {
  background-color: rgba(49, 166, 170, .25);
  text-align: center;
}

.item {
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .75rem;
}

.item:last-child {
  border-bottom: 0;
}

input {
  width: 90%;
  margin: 5px;
  padding: 12.5px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

p {
  font-family: 'Mina', sans-serif;
  margin: 0;
  padding: 20px;
  color: #00204a;
  font-size: .75rem;
}

.centered {
  text-align: center;
}

form {
  padding: .5rem 0%;
  justify-content: center;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #5d1a94;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  text-align: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
}

.redButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #cf0f79;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  margin-left: .5rem;
  border-width: 0;
  text-align: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
}

::placeholder {
  color: grey;
  opacity: 1;
}

a {
  font-family: 'Mina', sans-serif;
  text-decoration: none;
  color: #421332;
}

.container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;  
  backdrop-filter: blur(2.5px);
}

li {
  color: #cf0f79;
}

img {
  display: block;
  margin-left: auto;
  margin-right: .25rem;
  margin-bottom: .25rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}